// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$primary: red;
$success: #f68500;
$secondary: #075804;
// Bootstrap
@import '~bootstrap/scss/bootstrap';
